/BowlPicker/build/
/BowlPicker/dist/
BowlPicker/nbproject/private/private.properties
*.properties
/BracketBuster/nbproject/private/
/BracketBuster/build/
/BracketBuster/dist/
NCAABB Project/Misc/~$Formulas Consolidated.xlsx
BracketBuster/bracket.txt